@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply px-8 py-4 border-2 border-primary rounded-md hover:bg-gradient-to-r hover:scale-125 transition-all duration-300 ease-in-out from-primary to-secondary cursor-pointer;
}

.nav-button {
  @apply font-bold text-xl border-2 rounded-full px-8 py-2;
}

.input {
  @apply w-full rounded-full px-8 py-2 border-2 border-primary;
}

@keyframes modal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animation-modal {
  animation: modal 300ms ease-in-out;
}
